body{
    margin-left: 30px;
    margin-right: 30px;
    background-color: #FFF;
    background-image: url("images/jz_csweather_060619.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.container{
    padding-top : 30px;
    width: 400px;    
    background-color: rgba(203, 247, 250, 0.973);
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom : 50px;

}
p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    color: rgb(229, 255, 0);
    font-family:  Impact, Charcoal, sans-serif; 
    font-size: 65px; 
    font-weight: normal; 
    line-height: 60px; 
    margin: auto; 
    text-transform: uppercase; 
    text-align: center;
}


.notification{
    background-color: #FFF;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    background-color: #FFF;
}

.weather-icon{
    width: 300px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
}
.temperature-feels-value{
    width: 300px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.currentDate p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 1.25em;
}
.card-deck {
    text-align: center;
}
.weekly_prediction {
    background-color: beige;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
}
.card-deck {
    margin-bottom: 25px;
}